body{
background-color:red;	
}

h1{
	color:black;
	text-decoration: underline;
	text-decoration-color:blue;
	text-align:center;
	font-family:Verdana;
}

p{
	color:red;
	font-weight: bold;
	font-style: italic;
	font-size:20px;
	text-align:center;
}

#sample-text{
	color:black;
	font-weight:lighter;
	font-size:18px;
	font-style:oblique;
}